<div class="login-form-container">
    <h2 class="register-title">
        Login to your account
        <br />
        to buy awesome clothes
    </h2>

    <form
        (ngSubmit)="onLogin($event)"
        name="loginForm"
        [formGroup]="loginForm"
    >
        <label class='labels'>
            Email
        </label>
        <input
            class="inputs"
            formControlName="email"
            placeholder="Enter email address"
            required
        />
        <br />
        <label class='labels'>
            Password
        </label>
        <input
            class="inputs"
            formControlName="password"
            placeholder="Enter password"
            required
        />
        <app-button
            btnType="primaryBtn"
            type="submit"
        >
            Login
        </app-button>
    </form>

    <span class="error-login">
        <p *ngIf="authService.isLoginError">
            Wrong Credentials
        </p>
    </span>


    <div class="no-account">
        Don't have an account?
        <a routerLink="/register">
            <span class="register-link">Register</span>
        </a>
    </div>
    <!-- </form> -->
</div>
