<div class="register-form-container">
    <h2 class="register-title">
        Create your account
        <br />
        to get started
    </h2>

    <form
        (ngSubmit)="onRegister($event)"
        name="registerForm"
        [formGroup]="registerForm"
    >

        <label class='labels'>
            Name
        </label>
        <input
            class="inputs"
            formControlName="name"
            placeholder="Enter name"
            required
        />
        <br />
        <label class='labels'>
            Email
        </label>
        <input
            class="inputs"
            formControlName="email"
            placeholder="Enter email address"
            required
        />
        <br />
        <label class='labels'>
            Password
        </label>
        <input
            class="inputs"
            formControlName="password"
            placeholder="Enter password"
            required
        />
        <br />

        <app-button
            btnType="primaryBtn"
            type="submit"
        >
            Register
        </app-button>
    </form>

    <span class="error-reg">
        <p *ngIf="authService.isRegistrationError">Email already taken.</p>
    </span>

    <div class="have-account">
        Already have an account?
        <a href="/login">
            <span class="login-link">Login</span>
        </a>
    </div>
</div>
