<div class='cart-container'>
    <div class='cart-header'>
        <div class='cart-header-block'>
            Product
        </div>
        <div class='cart-header-block'>
            Description
        </div>
        <div class='cart-header-block'>
            Quantity
        </div>
        <div class='cart-header-block'>
            Price
        </div>
        <div class='cart-header-block'>
        </div>
    </div>

    <cart-item
        *ngFor="let cartItem of cartService.cartItems"
        key='cartItem.id'
        [cartItem]='cartItem'
    ></cart-item>

    <div class='total-price'>
        Total : ${{cartService.cartTotal()}}
    </div>

    <button class="btn">
        CHECKOUT
    </button>
</div>
