.cart-item-img {
    width: 23%;
    padding-right: 15px;

    img {
        width: 100%;
        height: 100%;
    }
}

.cart-item-name,
.cart-item-quantity,
.cart-item-price {
    width: 23%;
}

.cart-item-quantity {
    display: flex;

    .cart-arrow {
        cursor: pointer;
    }

    .cart-item-value {
        margin: 0 10px;
    }
}

.remove-from-cart-btn {
    padding-left: 12px;
    cursor: pointer;
    color: red;
}